<!DOCTYPE html>

<head>
    <title>Welcome Flask App</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css", href="{{ url_for('static', filename='css/style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>

<script>
    model_url = "{{ model_url }}";
    home = JSON.parse("{{ home }}".replaceAll("&#34;",'"'));
    away = JSON.parse("{{ away }}".replaceAll("&#34;",'"'));
</script>

<body class="main">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark header">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Lets Bet!</a>
        </div>
      </nav>
    
    <div class="section">
        <h2>Select Teams:</h2>            
            <div class="pure-u-1 pure-u-md-1-3">
            <label for="multi-state">Home Team:</label>
            <select id="home-team" class="pure-input-1-2">
                {% for team in teams %}
                    <option>{{ team }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="pure-u-1 pure-u-md-1-3">
            <label for="multi-state">Away Team:</label>
            <select id="away-team" class="pure-input-1-2">
                {% for team in teams %}
                    <option>{{ team }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button class="pure-button pure-button-primary" onclick="get_predictions()">Submit</button>
        <br>

        <div>
            <h3 id="message"></h3>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/teams.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
